.pcinza{
    background-color: lightgray;
}
.pverde{
    background-color: rgb(169, 250, 169);
}
.h1verde{
    color: rgb(1, 100, 1);
}
.txtverde{
    color: rgb(2, 102, 2);
}
.pamarela{
    background-color: rgb(253, 253, 131);
}
.h1amarelo{
    color: rgb(248, 186, 13);
}
.txtamarelo
{
    color: rgb(248, 186, 13);
}