body{
    background-color: black;
}
.Listacarinhas{
    color: azure;
}
.carinhas{
    color: azure;
}
.titulo1{
    color: azure
}
.maos{
    color: azure;
}
.Listamaos{
    color: azure;
}
.animais{
    color: azure;
}
.Listaanimais{
    color: azure;
}
.esportes{
    color: azure;
}
.listaesportes{
    color: azure;
}
.comidas{
    color: azure;
}
.listacomidas{
    color: azure;
}
.objetos{
    color: azure;
}
.listaobjetos{
    color: azure;
}